<h1>Listing products</h1>

<table>
<% @products.each do |product| %>
  <tr>
    <td><%= product.name %></td>
    </tr>
  <tr>
  	<td colspan="4">
  		<div id="<%=product.id%>" class="rateit" data-rateit-value="<%=product.average_rating%>"></div>
  		<div>
		    <span id="value-<%=product.id%>"></span>
			</div>
		</td>
  </tr>
  
<% end %>
</table>

<br />


<%= link_to 'New Product', new_product_path %>
